#context-view
	width 980px
	height 600px
	margin -300px 0 0 -490px
	padding 32px 0
	position absolute
	top 50%
	left 50%
	color #fff
	z-index 999
	background #333
	/*opacity 0.8*/

	.close-btn
		width 32px
		height 32px
		color #fff
		font-size 2em
		text-align center
		cursor pointer
		background #333
		position absolute
		top -12px
		right -12px
		border-radius 50%


