#context-view
	width 980px
	height 600px
	margin -300px 0 0 -490px
	padding 32px 0
	position absolute
	top 50%
	left 50%
	color #fff
	z-index 999
	text-align center
	background #333
	/*opacity 0.8*/

	.close-btn
		width 32px
		height 32px
		color #fff
		font-size 2em
		text-align center
		cursor pointer
		background #333
		position absolute
		top -12px
		right -12px
		border-radius 50%


.sunk-ships-line, .sunk-ships-submarine-line, .sunk-submarines-line
	stroke-dasharray 8px

.amount-sunk-ships
	fill steelblue
.amount-sunk-ships-submarine
	fill red
.amount-sunk-submarines
	fill green


