.event
	margin 2px
	padding 4px
	display block
	border 1px solid #212121
	border-radius 6px
	background #3f3f3f
	cursor pointer
	transition all 250ms ease-in-out
	span
		display inline-block
		vertical-align top
	.event-date
		width 10%
		color: #888;
		font-size: 0.9em;
	.event-title
		width 20%
		color: #f0f0f0;
		font-size: 0.9em;
		font-weight 600
	.event-description
		width 50%
		color: #f0f0f0;
		font-size: 0.75em;

	.event-actions
		width 15%
		display inline-block
		float right
		text-align right

		.show-on-map-btn
			color #f0f0f0
			cursor pointer
		.show-on-map-btn:hover
			color #900000

		.close-btn
			width 16px
			height 16px
			float right
			display block
			font-size 1.4em
			cursor pointer
		.close-btn:hover
			color #f0f0f0


.event:hover
	background #494949