#context-view #feedback
	padding 24px
	form
		.input-wrap
			margin 12px 0
			display block
		input[type=text],
		input[type=email],
		select,
		textarea
			width 320px
			padding 12px
			border-radius 4px
			background #f0f0f0
			border 1px solid #e9e9e9
		textarea
			height 140px
		#form-process
			display none
		#submit-btn
			width 120px
			padding 12px
			border-radius 4px
			background #f0f0f0
			border 1px solid #e9e9e9