#interface
	width 100%
	position absolute
	top 0px
	right 0px
	z-index 199
	#header 
		height: 6px;
		background: #e0e0e0;
		box-shadow: 0 0 3px #777;

	#mainmenu-container,
	#mainmenu
		width 230px
		float right
	#mainmenu
		padding 16px 0 0 0

	#mainmenu li
		width 24px
		height 24px
		margin 0 12px 0 0
		float left
		display block
		color #f0f0f0
		text-shadow #444 0px 1px 1px
		cursor pointer
		line-height 24px
		text-align center
		background rgba(64, 64, 64, 0.6)
		border-left 1px solid rgba(128, 128, 128, 0.6)
		border-radius 50%
		border 1px solid #565656
		box-shadow 0px 0px 3px rgba(128, 128, 128, 0.6)
	#mainmenu li:hover
		background #e0e0e0
		border 1px solid #aaa




#filter-container 
	position absolute
	right 12px
	top 48px
	li
		float left
		width 24px 
		height 24px
		margin 0 0 0 6px
		display block
		text-align center
		line-height 24px
		cursor pointer
		border-radius 50%
		box-shadow 1px 1px 2px rgba(128, 128, 128, 0.6)
		background rgba(120, 120, 120, 0.4)
	li:hover
		background rgba(120, 120, 120, 0.8)



#header
  padding 12px
  display block
  float right
  color #f0f0f0
	background #676767

/* time display */
#game-time
	float right
	#weekday
		width 400px
		padding: 12px;
		display: block;
		background: #e0e0e0;
		border-left: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
		border-bottom-left-radius: 12px;
		box-shadow 1px 1px 2px rgba(128, 128, 128, 0.6)

	a#pause-btn
		width 24px
		height 24px
		margin 12px 0 12px 12px
		float left
		display block
		background url(../img/pause-btn.png) no-repeat
	a#pause-btn.paused
		background url(../img/play-btn.png) no-repeat



#events-list
	width 50%
	height 180px
	min-width 320px
	position absolute
	bottom 12px
	right 12px
	background #333
	opacity 0.8
	border 1px solid #000
	border-radius 6px
	overflow auto



	