.province
	width 320px
	display block
	padding 12px
	background #999
	border 1px solid #777
	border-radius 4px

.province
	fill #888
	fill-opacity 0.4
	stroke-width 0.1px
	transition all 250ms ease-in-out
	/*
	stroke #dedede
	stroke-width 0.25
	stroke-dasharray 12
	*/
.province:hover
	/*stroke rgba(30, 30, 30, 0.6)
	stroke-width 0.1px*/
	/*fill-opacity 0.8*/


.border
	fill none
	stroke-width 0.25


	/*http://mbostock.github.io/d3/tutorial/circle.html*/
