.explosion
	fill #aaa
	opacity 0.3

.ship-label
	fill #aaa
	font-size 1.2px
	text-shadow #f0f0f0 0px 1px 1px
	text-align center

.ship-source
	width 214px
	height auto

/* add certain colors for countries */

.ship.gb
		fill steelblue
.ship.de
		fill #000
.ship.us
		fill green
.ship.fr
		fill yellow
.ship.su
		fill red