#statistics
	#content-left
	#content-right
		width 220px
		display inline-block
		vertical-align top
	#content-left
		padding 24px
	#content-right
		width 720px
		overflow hidden

	ul#statistics-menu
		li
			margin 0 0 6px 0
			padding 2px 4px
			cursor pointer
			color #e0e0e0
			/*text-shadow #f0f0f0 0px 1px 1px */
			border 1px solid #999
			background #bbb
			border-radius 4px
		li:hover
			background #aaa


	.axis path
	.axis line
		fill none 
		stroke rgba(128, 128, 128, 0.2)
		stroke-width 1px


	.line
		fill none
	.line.sunk-ships-line
		stroke steelblue	
	.line.sunk-ships-submarine-line
		stroke red
	.line.sunk-submarines-line
		stroke green

