// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'
@import '_home'
@import '_province'
@import '_interface'
@import '_dialog'
@import '_sunken_ship'
@import '_event'
@import '_context'
@import '_statistics'

// Apply a natural box layout model to all elements.
// http://paulirish.com/2012/box-sizing-border-box-ftw/
*
  box-sizing border-box
  /*
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  */

:-webkit-full-screen body
  width 100%
  height 100%

body 
  width 100%
  margin 0 auto
  /*overflow hidden*/
  font 80% Helvetica, sans-serif
  background url('../img/background-lightblue.jpg')

// The main container for the website
#page
  width 960px
  margin 0 auto



// footer
#footer 
  width 960px
  margin 0 auto
  padding 32px 0 32px 0
  text-align right
#footer-menu
  float right
  li
    float left
  li a
    padding 0 0 0 10px
    display block


svg
  z-index 0
  background url('../img/background-lightblue.jpg')

.province
  position relative
  z-index 99

a,
a:visisted,
a:active
  color #000
  text-deroration none
  transition all 250ms ease-in-out

a:hover
  color #333

ul, ol
  margin 0
  padding 0
  list-style none


h1
  color #888
  font-size 5em

.text-small
  font-size 0.7em

.sunken-ship
  fill #ff0000
  fill-opacity 0.3
  cursor pointer
.sunken-ship:hover
  fill-opacity 0.8


.submarine-zone
  fill red
  fill-opacity 0.06
  stroke none


.inactive
  transition all 250ms ease-in-out
  opacity 0.0